*{ box-sizing: border-box;}
img{ width: 100%;}
.waterFull{ width: 1200px; margin: 0 auto; border: 1px solid #dddddd; padding: 10px;}
.waterFull .waterFull_inner{ position: relative; width: 100%;}
.waterFull .waterFull_inner .item{ display: block; position: absolute; border: 1px solid #dddddd; text-align: center; color: #595757; padding: 10px;}






















































































